*

!.gitignore
!.gitattributes
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/LICENSE
!/README.md
!/library-api.md
!/library-docs.md
!/settings.gradle

!/docs/
!/docs/**
!/gradle/
!/gradle/**
!/images/
!/images/**
!/libs/
!/libs/**
!/src/
!/src/**
!/website/
!/website/**

/jar_src/
/reference_assets/
/website/storage/manifests/*.json
